In [1]:
import uproot

In [2]:
file = uproot.open("/home/gimn6/Documentos/Michel/PETSYS/GIMNroot/TESTE001_coinc.root") 
data = file['data']
dados = data.arrays(["mh_n1","mh_n2","mh_j1","mh_j2","channelID1","channelID2","energy1","energy2","time1","time2"],library='pd')

In [3]:
dados.head(50)

,mh_n1,mh_n2,mh_j1,mh_j2,channelID1,channelID2,energy1,energy2,time1,time2
0,1,7,0,0,994,45,4.423092,13.220791,500606269523,500606269711
1,1,7,0,1,994,46,4.423092,2.053070,500606269523,500606276093
2,1,7,0,2,994,37,4.423092,1.312038,500606269523,500606271048
3,1,7,0,3,994,49,4.423092,1.285526,500606269523,500606271560
4,1,7,0,4,994,47,4.423092,0.875778,500606269523,500606275216
5,1,7,0,5,994,43,4.423092,0.213692,500606269523,500606278392
6,1,7,0,6,994,40,4.423092,-0.084072,500606269523,500606296044
7,1,6,0,0,994,49,20.756748,9.291676,555569060752,555569062205
8,1,6,0,1,994,11,20.756748,6.045940,555569060752,555569061747
9,1,6,0,2,994,45,20.756748,0.882427,555569060752,555569069905
10,1,6,0,3,994,27,20.756748,0.821320,555569060752,555569070930
11,1,6,0,4,994,40,20.756748,0.753937,555569060752,555569067805
12,1,6,0,5,994,2,20.756748,0.687744,555569060752,555569078172
13,1,4,0,0,994,6,8.377594,13.224678,556911440236,556911440530
14,1,4,0,1,994,15,8.377594,2.205196,556911440236,556911442871
15,1,4,0,2,994,4,8.377594,2.143127,556911440236,556911442878
16,1,4,0,3,994,50,8.377594,1.618149,556911440236,556911443223
17,1,7,0,0,994,53,20.912815,13.277836,557947628173,557947635292
18,1,7,0,1,994,58,20.912815,2.285706,557947628173,557947636737
19,1,7,0,2,994,52,20.912815,1.486458,557947628173,557947639037
20,1,7,0,3,994,56,20.912815,0.959301,557947628173,557947644141
21,1,7,0,4,994,54,20.912815,0.689575,557947628173,557947638379
22,1,7,0,5,994,63,20.912815,0.086395,557947628173,557947656538
23,1,7,0,6,994,43,20.912815,0.059727,557947628173,557947649184
24,1,1,0,0,994,63,9.245613,2.084587,565993422068,565993429639
25,1,4,0,0,994,5,13.455139,11.383823,604771228381,604771228756
26,1,4,0,1,994,20,13.455139,1.726868,604771228381,604771231463
27,1,4,0,2,994,14,13.455139,1.676579,604771228381,604771232425
28,1,4,0,3,994,12,13.455139,1.623802,604771228381,604771234086
29,1,9,0,0,994,35,7.257969,9.406849,610292895668,610292901185
30,1,9,0,1,994,46,7.257969,6.607517,610292895668,610292901888
31,1,9,0,2,994,36,7.257969,1.164944,610292895668,610292909079
32,1,9,0,3,994,45,7.257969,1.022495,610292895668,610292908593
33,1,9,0,4,994,43,7.257969,0.905712,610292895668,610292914128
34,1,9,0,5,994,37,7.257969,0.875126,610292895668,610292909257
35,1,9,0,6,994,34,7.257969,0.325096,610292895668,610292911129
36,1,9,0,7,994,40,7.257969,0.101814,610292895668,610292932600
37,1,9,0,8,994,38,7.257969,-0.107838,610292895668,610292929802
38,1,3,0,0,994,5,5.609573,4.170254,685221357644,685221357970
39,1,3,0,1,994,21,5.609573,1.941235,685221357644,685221358750
40,1,3,0,2,994,20,5.609573,0.201427,685221357644,685221370551
41,1,3,0,0,994,60,19.798580,8.415222,772930745954,772930752622
42,1,3,0,1,994,63,19.798580,1.779747,772930745954,772930756912
43,1,3,0,2,994,55,19.798580,0.366280,772930745954,772930760052
44,1,5,0,0,994,8,19.964001,12.549469,782994998691,782995004571
45,1,5,0,1,994,13,19.964001,2.469570,782994998691,782995006563
46,1,5,0,2,994,1,19.964001,2.065983,782994998691,782995007957
47,1,5,0,3,994,15,19.964001,0.884663,782994998691,782995009073
48,1,5,0,4,994,4,19.964001,0.784927,782994998691,782995008625
49,1,6,0,0,994,50,20.701462,10.083553,785586597300,785586598204

In [4]:
dados['chipID1'] = dados['channelID1']//64 
dados['chipID2'] = dados['channelID2']//64 

dados['channel1']= dados["channelID1"]-dados['chipID1']*64
dados['channel2']= dados["channelID2"]-dados['chipID2']*64

In [5]:
d1 = dados[dados['chipID1']==15]
d1 = d1[d1['mh_j1']==0]

print (d1["chipID2"].unique())
d2  = d1[d1["chipID2"]==7]

print(d2['energy2'].count())

[0 3]
0

In [ ]:
dados['

In [ ]:
d1.head(50)

In [9]:
dados['chipID1'].unique()

array([ 5, 15], dtype=uint32)

In [10]:
dados['chipID2'].unique()

array([0, 5], dtype=uint32)

In [11]:
filtrado = dados[dados["chipID1"]==15]

In [12]:
filtrado

,step1,step2,mh_n1,mh_j1,tot1,time1,channelID1,energy1,tacID1,xi1,...,tacID2,xi2,yi2,x2,y2,z2,chipID1,chipID2,channel1,channel2
4,0.0,0.0,1,0,298194.40625,508569671805,994,14.640083,1,0,...,3,0,0,0.0,0.0,0.0,15,5,34,36
5,0.0,0.0,1,0,298194.40625,508569671805,994,14.640083,1,0,...,2,0,0,0.0,0.0,0.0,15,5,34,39
6,0.0,0.0,1,0,298194.40625,508569671805,994,14.640083,1,0,...,0,0,0,0.0,0.0,0.0,15,5,34,30
7,0.0,0.0,1,0,298194.40625,508569671805,994,14.640083,1,0,...,3,0,0,0.0,0.0,0.0,15,5,34,33
8,0.0,0.0,1,0,298984.68750,509057341015,994,6.631092,3,0,...,1,0,0,0.0,0.0,0.0,15,5,34,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562108,0.0,0.0,1,0,298110.46875,1800465274651889,994,9.075470,1,0,...,3,0,0,0.0,0.0,0.0,15,0,34,1
562115,0.0,0.0,1,0,301528.00000,1800487019398472,994,9.569157,2,0,...,3,0,0,0.0,0.0,0.0,15,5,34,39
562116,0.0,0.0,1,0,301528.00000,1800487019398472,994,9.569157,2,0,...,2,0,0,0.0,0.0,0.0,15,5,34,36
562117,0.0,0.0,1,0,301528.00000,1800487019398472,994,9.569157,2,0,...,1,0,0,0.0,0.0,0.0,15,5,34,41
562118,0.0,0.0,1,0,301528.00000,1800487019398472,994,9.569157,2,0,...,0,0,0,0.0,0.0,0.0,15,5,34,26

In [13]:
dados['chipID2'].unique()

array([0, 5], dtype=uint32)

In [14]:
dados.count()

step1         562119
step2         562119
mh_n1         562119
mh_j1         562119
tot1          562119
time1         562119
channelID1    562119
energy1       562119
tacID1        562119
xi1           562119
yi1           562119
x1            562119
y1            562119
z1            562119
mh_n2         562119
mh_j2         562119
time2         562119
channelID2    562119
tot2          562119
energy2       562119
tacID2        562119
xi2           562119
yi2           562119
x2            562119
y2            562119
z2            562119
chipID1       562119
chipID2       562119
channel1      562119
channel2      562119
dtype: int64